{% extends 'base.html' %}

{% block content %}
<style>
    body {
  background-image: url('/static/background3.png');
  background-size: cover; /* or contain depending on your preference */
  background-position: center center;
  background-repeat: no-repeat;
}
form {
    display: inline-block;
    margin-right: 10px;
}
</style>
<br>
    <h1>Welcome, Applicant!</h1>
    <p>Click one of the buttons below to continue your journey to admission.</p>
    {% if decision == "complete" %}
        <form action="{{ url_for('applications.status') }}">
            <button type="submit" class="btn btn-primary">Application Form</button>
        </form>
    {% else %}
        <form action="{{ url_for('applications.application_form') }}">
            <button type="submit" class="btn btn-primary">Application Form</button>
        </form>
    {% endif %} 
    <form action="{{ url_for('applications.status') }}">
        <button type="submit" class="btn btn-primary">Check Admission Status</button>
    </form>
    <form action="{{ url_for('applications.recommendation_check') }}">
        <button type="submit" class="btn btn-primary">Recommendation Letters</button>
    </form>
{% endblock %}