{% extends "base.html" %}
{% block title %}Courses{% endblock %}

{% block content %}
<style>
    body {
  background-image: url('/static/iron.png');
  background-size: cover; /* or contain depending on your preference */
  background-position: center center;
  background-repeat: no-repeat;
  }
  </style>
<div class="container">
    <h2>Courses</h2>
    <a href="/"><button type="button">Return Home</button></a>
    <br><br>
    <div class="table-responsive">
        <table class="table table-hover" id="courses-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Course Page</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Comment</th>
                    <th scope="col" data-orderable="false" data-searchable="false">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.title }}</td>
                    <td>
                        <form action="{{url_for('registration.course_page', CID=course.ID)}}" method="post">
                            <input type="hidden" name="course_id" value="{{course.ID}}">
                            <button type="submit" class="btn btn-primary">View Course Page</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{url_for('registration.rate_course')}}" method="POST">
                            <input type="hidden" name="CID" value="{{course.ID}}">
                            <select name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                    </td>
                    <td>
                        <input type="text" name="comment" placeholder="Comment">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit Rating</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        $('#courses-table').DataTable({
            "language": {
                "emptyTable": "No courses found.",
                "zeroRecords": "No matching courses found."
            },
            order: [[0, 'asc']],
        });
    });
</script>
{% endblock extra_js %}
