{% extends "base.html" %}
{% block title %} Student List {% endblock %}
{% import 'backbtn.html' as back %}

{% block content %}
<style>
    body {
  background-image: url('/static/iron.png');
  background-size: cover; /* or contain depending on your preference */
  background-position: center center;
  background-repeat: no-repeat;
}
</style>
<div class="container">
    <h2>Students</h2>
    <a href="{{url_for('registration.profCourses')}}" class="btn btn-primary">Back</a>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-hover" id="students-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.first_name }}</td>
                        <td>{{ student.last_name }}</td>
                        <td>
                            <a href="{{url_for('registration.draft_message', recipient=student.id, course=course.ID)}}" class="btn btn-primary">Message</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready( function () {
            $('#students-table').DataTable({
                "language": {
                    "emptyTable": "No students found.",
                    "zeroRecords": "No matching students found."
                },
                order: [[0, 'asc'], [1, 'asc']],
            });
        });
    </script>
{% endblock extra_js %}
